header.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: stretch;
  border-bottom: 1px solid var(--colour-borders);
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--colour-primary);
  > * {
    padding: var(--padding);
    flex-shrink: 1;
  }
}
