.main-layout {
  width: 100%;
  position: relative;
  background-color: var(--colour-background);
}
main.main {
  grid-area: main;
  padding: 2rem;
  z-index: 0;
  transition: margin 0.1s ease-out;
}
