nav.nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: var(--padding) 0 var(--padding) 0;
  z-index: 1;
  position: fixed;
  height: 100%;

  &[data-open="true"] {
    width: min(17.5rem, 50vw);
  }
  &[data-hover-open="true"][data-open="false"] {
    width: min(17.5rem, 50vw);
    // position: absolute;
    height: 100%;
    background: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    padding-right: var(--padding);
  }
}
